# NOTE: Rename this file to terraform.tfvars and edit according to your environment

# GCP Cloud credentials, Service Account Name, Project and DNS zone
project         = "cogent-summer-299514"
credentials     = "key.json"
sb_license      = "starburstdata.license" # Full path to starburst license
sa_name         = "partner-demo"
dns_zone        = "gcp.starburstdata.net"
dns_zone_name   = "gcp"

region          = "us-east4"
zone            = "us-east4-b"

# Service Account Secret name in K8s
gcp_cloud_key_secret = "service-account-key"

# email address for certs
#email           = set here, in sensitive.auto.tfvars or in environment variable: $TF_VAR_email

# Admin username to login to Ranger. This user will have full access to all catalogs and objects
admin_user      = "sbadmin"
reg_user1       = "engineer"
reg_user2       = "analyst"

# Helm Repository details
repository      = "https://harbor.starburstdata.net/chartrepo/starburstdata"
registry        = "harbor.starburstdata.net/starburstdata"
#repo_username   = set here, in sensitive.auto.tfvars or in environment variable: $TF_VAR_repo_username
#repo_password   = set here, in sensitive.auto.tfvars or in environment variable: $TF_VAR_repo_password
repo_version        = "370.0.0" # Version to deploy. Set to 'null' if you just want the latest version installed

# Optional tagging for cloud resources. Defined as a map of keys and values
# Replace with your own keys and values, or delete this if not needed
tags         = {cloud        = "gcp",
                environment  = "demo",
                org          = "partner",
                team         = "partner",
                project      = "training",
                user         = "starburst"
                }

# Infrastructure control
use_ondemand        = false # If set, a dedicated ON_DEMAND node pool will be created

# K8s applications control
create_hive         = true
create_ranger       = true
create_trino        = true

create_nginx        = true

# Set these resource parameters to empty to force the system to calculate
# the optimal values based on the instance types you have selected. You can override this
# automated calculation by setting them to your own custom values here
coordinator_cpu = ""
coordinator_mem = ""
ranger_cpu = ""
ranger_mem = ""
hive_cpu = ""
hive_mem = ""